@background: #613339;  
@foreground: #dfefff;

@secondaryBackground: spin(@background, -140);
@secondaryForeground: spin(@background, -140);

@danger: #c80; 
@error: #e02; 
@info: #59e; 

@roundsize: 0.5rem; 

button.standard {
  box-sizing: border-box; 
  border: none; 
  margin: 1rem 0.2rem; 
  color: @background; 
  background-color: shade(@foreground, 20%); 
  font-size: 1rem;
  padding: 1rem; 
  border-radius: 2 * @roundsize; 
  cursor: pointer; 
  &.confirm {
    background-color: @danger; 
  }
}

input.standard, textarea.standard {
  color: @foreground; 
  box-sizing: border-box;
  width: 100%; 
  background-color: shade(@background, 20%);
  border: none; 
  border-radius: @roundsize;
  padding: 0.5rem; 
  &:focus{
    outline: 0.2rem solid shade(@foreground, 20%); 
  }
  &::placeholder {
    color: shade(@foreground, 50%);
  }
}

div.spinner{
  @border: 0.5rem solid @foreground; 
  display: inline-block; 
  border: 0.5rem solid #8880; 
  border-bottom: @border;
  border-top: @border; 
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  margin: 1rem 0.2rem; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} 
