@background: #613339;  
@foreground: #dfefff;

@danger: #c80; 
@error: #e02; 
@info: #59e; 

@roundsize: 0.5rem; 

button.standard {
  box-sizing: border-box; 
  border: none; 
  color: @background; 
  background-color: shade(@foreground, 20%); 
  font-size: 1rem;
  padding: 1rem; 
  margin: 1rem 0.2rem 0.5rem 0.5rem; 
  border-radius: 2 * @roundsize; 
  cursor: pointer; 
}

input.standard, textarea.standard {
  color: @foreground; 
  box-sizing: border-box;
  width: 100%; 
  background-color: shade(@background, 20%);
  border: none; 
  border-radius: @roundsize;
  padding: 0.5rem; 
  &:focus{
    outline: 0.2rem solid shade(@foreground, 20%); 
  }
  &::placeholder {
    color: shade(@foreground, 50%);
  }
}
